<%= render partial: "layouts/navbar" %>


<h2><%= @user.first_name %>'s Posts:</h2>
<% @user.posts.each do |post| %>
<%= link_to post.cocktail.name, post %>
<img src="<%= post.image_url %>" />
<%end%>

<h2>Posts You've Liked:</h2>
<% @user.likes.each do |like| %>
<%= link_to like.post.cocktail.name, post_path(like.post) %>
<img src="<%= like.post.image_url %>" />
<%end%>
