<%= render partial: "layouts/navbar" %>

<h1>Welcome <%= @user.first_name %></h1>

<h2>Your Posts:</h2>
<% @user.posts.each do |post| %>
<%= post.cocktail.name %>
<img src="<%= post.image_url %>" />
<%end%>

<h2>Posts You've Liked:</h2>
<% @user.likes.each do |like| %>
<%= like.post.cocktail.name %>
<img src="<%= like.post.image_url %>" />
<%end%>
