<%= form_tag posts_path, method: :get do %>
  <%= label_tag 'cocktail_search', 'Cocktail Search: ' %>
  <%= select_tag 'cocktail_search', options_from_collection_for_select(Cocktail.all, :id, :name), include_blank: true %>
  <%= label_tag 'sorty_by', 'Sorty By: ' %>
  <%= select_tag 'sort_by', options_for_select([ 'Newest Posts', 'Oldest Posts', 'Most Likes', 'Least Likes' ], 'Newest Posts') %>
  <%= submit_tag 'Search'%>
<% end %>

<% @posts.each do |post| %>
  <div style="border: 1px solid black; float: left">
    <h2><%= link_to post.cocktail.name, post %></h2>
    <h4><%= link_to post.user.username %></h4>
    <img src="<%= post.image_url %>" style="width: 200px">
    <h4><%= post.flavors[0].keyword %></h4>
    <h4><%= post.flavors[1].keyword %></h4>
    <div><%= post.likes.count %> LIKES</div>
    <%= render "likes/like_button" %>
  </div>
<%end%>
