<%= render partial: "layouts/navbar" %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel="stylesheet" href="app/assets/stylesheets/posts.scss">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="new-post">

  <h1>Have a photo of your fave cocktail? Submit it here!</h1>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@post.errors.count, "error") %>
        prohibited this article from being saved:
      </h4>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post-form">

    <%= form_for @post do |f| %>
    <%= f.hidden_field :author_id, :value => session[:user_id] %>
      <p>
        <%= f.label "Cocktail Name" %>
          <%= f.collection_select :cocktail_id, Cocktail.all, :id, :name %>
      </p>


        <%= f.fields_for :post_flavors do |flav| %>
          <%= flav.hidden_field :post_id, :value => @post.id %>
          <p><%= flav.label :keyword %>
          <%= flav.collection_select :flavor_id, Flavor.all, :id, :keyword %></p>

          <%end%>

        <p>
          <%= f.label :image %>
          <%= f.file_field :image %>
        </p>


        <%= f.submit %>

      <%end%>

    </div>
    </body>
</html>
