<%= render partial: "layouts/navbar" %>

<h1>More about <%= @post.cocktail.name %>:</h1>
  <div>
    <%= @post.cocktail.description %>
  </div>
    <img src="<%= @post.image_url %>" />
    <p>Liked by <%= link_to @post.user.username, user_path(@post.user) %></p>

    <div>
      <ul>
        <% @post.cocktail.ingredients.each do |ingr| %>
            <li><%= "#{ingr.name} - #{ingr.quantity}" %></li>
            <% end %>
      </ul>
    </div>
