<div style="border: 1px solid black">
  <h2><%= @post.cocktail.name %></h2>
  <h4><%= @post.user.username %></h4>
  <img src="<%= @post.image_url %>" />
  <h4><%= @post.flavors[0].keyword %></h4>
  <h4><%= @post.flavors[1].keyword %></h4>
  <div><%= @post.likes.count %> LIKES</div>
</div>

<div>
  <%= @post.cocktail.description %>
</div>

<div>
  <% @post.cocktail.ingredients.each do |ingr| %>
    <%= "#{ingr.name} - #{ingr.quantity}" %>
</div>

<% end %>
