<%= render partial: "layouts/navbar" %>

<h1>More about <%= @post.cocktail.name %>:</h1>
<h2>Favorited by <%= link_to @post.user.username, user_path(@post.user) %></h2>
    <img src="<%= @post.image_url %>" />
    <div>
      <%= @post.cocktail.description %>
    </div>

    <div>
      <% @post.cocktail.ingredients.each do |ingr| %>
        <%= "#{ingr.name} - #{ingr.quantity}" %>
    </div>

    <% end %>
